*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 70vh;
    width:35vw;
    border: 1px solid;
    margin: 0 auto;
}
.both{
    height: 25%;
    width: 100%;
    display: flex;
}
.userArea, .computerArea{
    height: 100%;
    width: 50%;
}
#userProfile, #computerProfile{
    height: 70%;
    width: 50%;
    margin: 0 auto;
    background-color: bisque;
}
#userProfile img, #computerProfile img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#userScore, #computerScore{
    height: 20px;
    width: 50%;
    border: 2px solid;
    margin: 0 auto;
    background-color: aquamarine;
}
 #presentScore{
    height:20px ;
    width: 30%;
    border: 2px solid;
    margin: 20px auto;
 }
 #dice{
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    margin: 0 auto;
 }
 #playClick{
    height: 10%;
    width: 100%;
    margin: 20px auto;
    display: flex;
 }
 #rolldice, #passturn{
    height: 20px;
    width: 50%;
    border: 2px solid;
    margin:0 20px;
    padding-left: 10px;
    font-size: 14px;
 }
